@import "tailwindcss";

body {
  --sb-track-color: #e2e8f0;
  --sb-thumb-color: gray;
  --sb-size: 0.4rem;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  position: fixed;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  position: fixed;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  position: fixed;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    position: fixed;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
