# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# IDE
.vscode/
.idea/

# Misc
.tmp/
.cache/

prisma/generated/
